@import "../../styles/variebles.scss";

form {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;

  @include breakpoint-small {
    min-width: 300px;
  }

  h2 {
    font-family: $title-font;
    margin-bottom: 0;
  }
  p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: xx-large;
    font-weight: 100;
  }

  .newTask {
    display: flex;
    flex-direction: column;
    @include breakpoint-small {
      align-self: center;
      min-width: 700px;
    }

    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 2px 5px 9px -9px rgba(68, 68, 68, 0.58);
    div {
      margin-top: 1rem;
      font-weight: 100;

      &.error p {
        color: $danger-color;
        font-size: medium;
        font-weight: 700;
        padding-left: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          margin-right: 5px;
          font-size: medium;
        }
      }

      label {
        padding-left: 1rem;
        padding-right: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        select.form-style {
          border: none;
          border-radius: 20px;
          text-align: center;
          font-family: $body-font;
          padding: 0.1rem 0.5rem;
          background-color: lightgray;
        }
        h3 {
          margin: 0;
        }
        input {
          flex: 1;
          //width: 50%;
          margin-left: 1rem;
          border: none;
          border-bottom: solid 1px $border-color;
        }
        input:focus {
          outline: none;
          background-color: $background-color;
          opacity: 0.5;
        }
        input[type="checkbox"] {
          opacity: 0;
          width: 0;
        }
        .tgCompleted svg {
          color: $primary-color;
        }
        svg {
          font-size: x-large;
          color: $border-color;
        }
      }
    }

    button {
      cursor: pointer;
      width: 110px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1rem auto 0 auto;
      //   margin-left: auto;
      //   margin-right: auto;
      border: none;
      background-color: $primary-color;
      padding: 0.5rem 1rem;
      border-radius: 30px;
      color: white;
      font-family: $body-font;
      &:hover {
        background-color: $purple-color;
      }
      svg {
        margin-right: 10px;
        font-size: medium;
        margin-bottom: -5px;
      }
    }
  }
}
